body, html{
	position: absolute;
	width: 100%;
}

#leftPanel{
	background-color: #DCDCDC;
	border: solid gray 1px;
	position: relative;
	width: 20%;
}

table{
	margin: 10px;
	position: relative;	
	width: 90%;
}

td{
	width: 100%;
}