body, html{
	background-color: #804000;
	height: 100%;
	position: absolute;
	width: 100%;
}

.btn{
	height: 30%;	
}

#leftPanel{
	background-color: #DCDCDC;
	border: solid gray 1px;
	position: relative;
	width: 20%;
}
#rightPanel{
	background-color: #804000;
}

table{	
	margin: 10px;
	position: relative;	
	width: 90%;
}

h4{
	margin: 10px;
}